.plan_header {
    background-image: url(../../assets/plan_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 0 40px 0;
    margin-bottom: 64px;
}

.plan_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 13px;
    background-color: #365F38CC;
    border-radius: 28px;
}

.plan_namee {
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -5%;
    color: white;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_link {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    line-height: 100%;
    color: white;
}


.nomer {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    line-height: 100%;
    color: white;
}


.nav_btn {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    color: #365F38;

    padding: 12px 24px;
    background-color: white;
    border: none;
    border-radius: 16px;

}

.plan_text {
    margin-top: 375px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.plan_text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: white;
}

.plan_text h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 100%;
    color: white;
    width: 100%;
}

.divv {
    display: flex;
    align-items: center;
    gap: 10px;
}




.plan_main {
    margin-bottom: 64px;
}



.plan_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.plan_li {
    width: 30%;
    display:flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.right {
    text-align: end;
}

.plan_textt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.plan_textt div h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 10px;
    color: black;
}

.plan_textt div p {
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    line-height: 100%;  
    color: #00000080;
}

.menu {
    display: none;
}




@media (max-width: 800px) {
    
    .plan_header {
        background-image: url(../../assets/plan_img.png);
        background-repeat: no-repeat;
        background-position: center;
        padding: 32px 20px;
    }

    .nav_link {
        display: none;
    }
    .plan_navbar {
        background-color: #365F38;
    }
    .ru {
        width: 30px; 
        height: 30px;
    }

    .menu {
        display: block;
        color: white;
        font-weight: 400;
        font-size: 40px;
    }
    .nav_btn {
        display: none;
    }
    .nomer {
        display: none;
    }

    .plan_li {
        width: 30%;
    }

    .plan_textt div h3  {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        width: 70%;
    }

    .right h3 {
        margin-left: auto;      
    }

    .plan_textt div img {
        width: 100%;
    }

    .plan_textt div p {
        font-weight: 400;
        font-size: 9px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #00000080;
    }
}


@media (max-width: 400px) {
     .plan_header {
        background-image: url(../../assets/plan_img.png);
        background-repeat: no-repeat;
        background-position: center;
        padding: 26px 16px;
        height: auto;
    }

    .plan_text {
        row-gap: 15px;
    }

    .plan_text p {
        font-weight: 400;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 0%;
    }
    .plan_text h1 {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        width: 70%;
    }

    .plan_li {
        width: 46%;
    }
}