.kompani_header {
    background-image: url(../../assets/kompani_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 0 40px 0;
    margin-bottom: 64px;
}

.kompani_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 13px;
    background-color: #365F38CC;
    border-radius: 28px;
}

.kompani_namee {
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -5%;
    color: white;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_link {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    line-height: 100%;
    color: white;
}


.nomer {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    line-height: 100%;
    color: white;
}


.nav_btn {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    color: #365F38;

    padding: 12px 24px;
    background-color: white;
    border: none;
    border-radius: 16px;

}

.kompani_text {
    margin-top: 375px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.kompani_text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: white;
}

.kompani_text h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 100%;
    color: white;
    width: 100%;
}

.divv {
    display: flex;
    align-items: center;
    gap: 10px;
}




.komp1_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}


.komp1_text {
    width: 35%;
    display: flex;
    flex-direction: column;
    row-gap: 126px;
    padding: 24px 18px;
    background-color: #F4F3FE;
    border-radius: 24px;
}

.komp1_text h3 {
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 100%;
    color: #323232;
}

.komp1_text p {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    color: #323232CC;
    width: 90%;
}

.komp1_img {
    width: 60%;
}

.komp1_img img {
    width: 100%;
    border-radius: 24px;
}

.tex {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    margin: 64px 0;
}

.tex_name {
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 100%;
}

.tex_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tex_li {
    width:  23%;
    padding: 24px ;
    background-color: #F4F3FE;
    border-radius: 24px;
    justify-content: start;
    height: 250px;
}

.tex_li p {
    margin-top: 30px;
    width: 95%;
}

.price {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.price_name {
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 100%;
}

.price_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price_li {
    width: 32%;
    height: auto;
    padding: 18px;
    background-color: #F4F3FE;
    border-radius: 24px;
}


.lol {
    height: 120px;
    width: 40%;
}
.yan {
    width: 50%;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.top_right {
    margin-left: auto;
    text-align: end;
    justify-content: end;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 70%;
}

.za {
    width: 40%;
}

.under_text {
    width: 100%;
}


.price_btn {
    font-weight: 400;
    font-size: 16px;
    color: #323232;

    width: 100%;
    margin-top: 100px;
    padding: 16px 0;
    background-color: white;
    border-radius: 16px;
    border: none;
}


.standart {
    margin: 64px 0;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.standart_name {
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 100%;
}

.standart_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
}

.standart1{
    background-image: url(../../assets/stand1.png);
    background-repeat: repeat;
    background-size: cover;
    width: 48%;
    height: 350px;
    padding: 240px 220px 24px 24px;
    color: white;
    border-radius:24px ;
}

.standart2 {
    background-image: url(../../assets/stand2.png);
    background-repeat: repeat;
    background-size: cover;
    width: 24%;
    height: 350px;
    padding: 210px 107px 24px 24px;
    border-radius:24px ;
    color: white;
}

.standart3 {
    background-image: url(../../assets/stand3.png);
    background-repeat: repeat;
    background-size: cover;
    width: 24%;
    height: 350px;
    padding: 210px 107px 24px 24px;
    border-radius:24px ;
    color: white;
}


.standart4 {
    background-image: url(../../assets/stand4.png);
    background-repeat: repeat;
    background-size: cover;
    width: 24%;
    height: 350px;
    padding: 210px 107px 24px 24px;
    border-radius:24px ;
    color: white;
}

.standart5{
    background-image: url(../../assets/stand5.png);
    background-repeat: repeat;
    background-size: cover;
    width: 48%;
    height: 350px;
    padding: 240px 220px 24px 24px;
    color: white;
    border-radius:24px ;
}

.standart6 {
    width: 24%;
    height: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 24px;
    background-color: #F4F3FE;
    border-radius: 16px;
}

.standart6 h3 {
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 100%;
    color: #323232;
}

.standart6 p {
    color: #323232CC;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
}

.standart6 button {
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    color: white;

    padding: 16px 6px ;
    background-color: #365F38;
    border: none;
    border-radius: 16px;
}

.standart1 , .standart2 , .standart3 , .standart4 , .standart5 p {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
}

.part {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.part h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 100%;
    color: #323232;
}

.part_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 24px;

}

.part_li {
    width: 32%;
    height: 180px;
    background-color: #F4F3FE;
    border-radius: 24px;
    text-align: center;
}





.question {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.question_div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left_list {
    width: 39%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5px;
}

.left_li {
    
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    color: #323232;

    width: 100%;
    padding: 24px 12px;
    background-color: #F4F3FE;
}

.right_div {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #F4F3FE;
    height: auto;
}

.right_div1 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.question_text {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    color: #32323299;
}

.right_div1 h3 {
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    line-height: 100%;
    color: #323232;
}

.pipi {
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 100%;
    color: #323232;
    width: 90%;
}

.right_div2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
}


.div2_text {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    color: #323232;
    width: 50%;
}

.tel_div {
    padding: 12px 16px;
    border: 1px solid #323232;
    border-radius: 8px;
}


.menu {
    display: none;
}

@media (max-width: 800px) {
    main, .kompani_header {
        padding: 0 16px;
    }
    .menu {
        display: block;
    }
    .kompani_header {
        background-image: url(../../assets/kompani_img.png);
        background-repeat: no-repeat;
        background-position: center;
        padding: 32px 0px;
    }

    .komp1_text {
        width: 40%;
        row-gap: 40px;
        padding: 16px;
    }
    

    .komp1_text h3 {
        font-weight: 400;
        font-style: Medium;
        font-size: 14px;
        color: #323232;
    }

    .komp1_text p {
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        color: #323232CC;
        width: 90%;
    }

    .komp1_img {
        width: 58%;
    }

    .tex_list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 24px;
    }

    .tex_li {
        width: 48%;
        row-gap: 30px;
        padding: 16px ;
        height: 200px;
    }

    .price_list {
        flex-wrap: wrap;
        row-gap: 24px;
    }

    .price_li {
        width: 100%;
        height: auto;
        padding: 16px;
    }

    .price_btn {
        text-align: center;
    }

    .po {
        height: 150px;
        width: 40%;
    }

    .standart_div {
        flex-wrap: wrap;
        row-gap: 16px;
    }

    .standart1 , .standart6 {
        width: 100%;
    }

    .standart2 , .standart3 , .standart4 , .standart5 {
        width: 48%;
    }

    .standart5 {
        padding: 200px 0 12px 24px;
    }

    .standart6 {
        height: auto;
    }

    .part_li {
        width: 48%;
    }
    .right_div {
        row-gap: 40px;
    }

    .div2_text {
        width: 85%;
    }
}




@media (max-width: 400px) {
    main, .kompani_header {
        padding:  0 16px;
    }

    .kompani_header {
        background-image: url(../../assets/kompani_img.png);
        background-repeat: no-repeat;
        background-position: center;
        padding: 20px 0px;
    }

    .kompani_text {
        margin-top: 250px;
        row-gap: 15px;
    }

    .kompani_text p {
        font-weight: 500;
        font-size: 16px;
    }

    .kompani_text h1 {
        font-weight: 700;
        font-size: 25px;
        line-height: 100%;
    }

    .komp1_div {
        flex-wrap: wrap;
        row-gap: 24px;
        margin-bottom: 24px;
    }

    .komp1_text {
        width: 100%;
    }

    .komp1_img {
        width: 100%;
    }
    .tex_name, .price_name, .standart_name, .part h1 {
        font-weight: 700;
        font-size: 16px;
    }
    .tex_li {
        width: 100%;
        height: auto;
    }
    .top_right {
        width: 80%;
    }
    .po, .yan {
        height:auto ;
        width: 30%;
    }

    .price_btn {
        margin-top: 32px;
    }

    

    .standart1 {
        background-image: url(../../assets/stand1.png);
        background-repeat: no-repeat;
        background-position: auto;
        padding: 96px 0 12px 16px;
        height: auto;
    }

    .standart2 {
        background-image: url(../../assets/stand2.png);
        background-repeat: no-repeat;
        background-position: auto;
        padding: 100px 9px 12px 9px;
        height: auto;
    }

    .standart3 {
        background-image: url(../../assets/stand3.png);
        background-repeat: no-repeat;
        background-position: auto;
        padding: 100px 9px 12px 9px;
        height: auto;
    }

    .standart4 {
        background-image: url(../../assets/stand4.png);
        background-repeat: no-repeat;
        background-position: auto;
        padding: 100px 9px 12px 9px;
        height: auto;
    }

    .standart5 {
        background-image: url(../../assets/stand5.png);
        background-repeat: no-repeat;
        background-position: auto;
        padding: 60px 9px 12px 9px;
        height: 170px;
    }

    .standart5 p {
        width: 100%;
    }

.standart1, .standart2 , .standart3 , .standart4 , .standart5 p {
    font-weight: 400;
    font-size: 14px;
}

    .part_li {
        width: 100%;
    }

    .question_div {
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .left_list {
        row-gap: 12px;
        width: 100%;
    }

    .left_li {
        width: 100%;
        border: 1px s;
    }



    .right_div {
        background-color: #323232;
        row-gap: 16px;
    }
    .right_div2 {
        margin-top: 0;
    }

    .question_text, .pipi {
        color: #FFFFFF99;
    }

    .right_div1 h3 , .div2_text {
        color: #FFFFFF;
    }
}