.plan_header {
    background-image: url(../../assets/plan_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 0 40px 0;
    margin-bottom: 64px;
}



.menu_zone {
  display: none;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

.plan_text {
    margin-top: 375px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.plan_text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: white;
}

.kkk {
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 100%;
    color: white;
    width: 100%;
}








@media (max-width:1280px) {
    .plan_header {
        padding: 20px;
    }

    .kkk {
        width: 60%;
    }
}


@media (max-width:1024px) {
    .plan_header {
        font-size: 23px;
      }
}

@media (max-width: 768px) {
    
    .plan_header {
        background-image: url(../../assets/plan_img.png);
        background-repeat: no-repeat;
        background-position: center;
        padding: 32px 20px;
    }
}


@media (max-width: 480px) {
     .plan_header {
        background-image: url(../../assets/plan_img.png);
        background-repeat: no-repeat;
        background-position: center;
        padding: 26px 16px;
        height: auto;
    }

    .plan_text {
        row-gap: 15px;
    }

    .plan_text p {
        font-weight: 400;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 0%;
    }
    .kkk {
        font-weight: 700;
        font-size: 20px;
        width: 70%;
    }
}