.Information {
    background-image: url(../../assets/information_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    height: 400px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}


.chekbox_div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: auto;
}

.check {
    width: 25px;
    height: 25px;
}




.information_name {
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 100%;
    color: white;
    width: 65%;
}


.bottom_div {
    display: flex;
    align-items: center;
    gap: 100px;
    color: white;
    margin-top: auto;
    

}

.text_div {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 20%;
}

.ass {
    width: 90%;
    margin-right: auto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;

}



.img {
    position: absolute;
    width: 420px;
    height: 320px;
    right: 24px;
    top: 34px;
}


.form_div {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: auto;
    margin-left: -100px;

}

.under_div {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    
}


.form {
    padding: 16px 145px 16px 24px;
    background-color: white;
    border: none;
    border-radius: 16px;
}

input {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    color: #868686;
    padding: 16px 24px;
    background-color: white;
    border: none;
    border-radius: 16px;
    width: 250px;
}

.form_btn {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    color: white;

    padding: 16px 24px;
    background-color: #365F38;
    border: none;
    border-radius: 16px;
    margin-top: auto;

}


@media (max-width: 800px) {
    .Information {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        background-image: url(../../assets/koko.jpg);
        position: relative;
        z-index: 1;
        margin: 0 20px;
        height: 900px;
        margin-bottom: 64px;
        background-position: center;
    }
    .Information::before {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: -1;
        border-radius: 24px;
    }
    .information_name {
        width: 90%;
        font-size: 40px;
    }
    .bottom_div {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        position: relative;
        z-index: 2;
        color: white;
        margin-bottom: 350px;
    }
    .text_div {
        width: 100%;
    }
    .ass {
        width: 60%;
        font-size: 22px;
        font-weight: 600;
        margin-right: auto;
        color: white;
    }
    
    .form_div {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        width: 100%;
        margin: 0 auto;
    }

    .under_div {
        width: 80%;
        justify-content: center;
    }
    form {
        width: 100%;
        background-color: white;
        border-radius: 24px;
        margin: 0 auto;
    }
    .form_btn {
        width: 80%;
    }
    .img {
        top: 580px;
        left: 45px;
        width: 90%;
        height: 300px;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 0 16px;
    }
    .Information {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-image: url(../../assets/koko.jpg);
        position: relative;
        z-index: 1;
        margin: 0 16px;
        height: 900px;
        margin: 64px 0;
        background-position: center;
    }
    .Information::before {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: -1;
        border-radius: 24px;
    }
    .information_name {
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        width: 100%;

    }
    .ass {
        width: 90%;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-top: -130px;
    }
    .chekbox_div p {
        font-weight: 400;
        font-style: Regular;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 0%;
        width: 60%;
    }
    .img {
        top: 580px;
        left: 20px;
    }
}