.page_header {
  background-image: url(../../assets/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 40px 0;
  border-bottom-right-radius: 24px;
}

.menu_zone {
  display: none;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

.header_text {
  margin-top: 375px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.mmm {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: white;
}

.kkk {
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 100%;
  color: white;
  width: 50%;
}



@media (max-width:1280px) {
  .page_header {
    padding: 20px;
  }


  .kkk {
    width: 60%;
  }
}


@media (max-width:1024px) {

  

  .kkk {
    width: 90%;
  }



}

@media (max-width: 768px) {
  .page_header {
    background-image: url(../../assets/1page_res.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 32px 20px;
  }

  .kkk {
    width: 90%;
  }

}

@media (max-width: 480px) {
  .page_header {
    background-image: url(../../assets/1page_res.png);
    background-size: cover;
    padding: 26px 16px 32px 16px;
    border-bottom-left-radius: 24px;

  }
  .header_text {
    row-gap: 12px;
  }

  .mmm {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 100%;
  }

  .kkk {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 80%;
  }
}